.calendar-wrapper {
    
    max-width: 1000px; 
    width: 30%;


    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    margin-bottom: 100px;
    font-size: 15px;

    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



#familySchedule{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
 
 
 }
 #instruction{
    color: #051D01;
    font-size: 16px;
    margin-bottom: 10px;
 }
 
 .calendar-toggle {
    display: flex;
    justify-content: center;
    gap: 15px;       
    margin: 15px ;  
    margin-top: 5px;
  }

  .my-cal {
    background-color: #afc79c;
    border: none !important;
    border-radius: 6px !important;
    color: #4a643f !important;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.3s;
    
  }
 
  .fam-cal {
    
    background-color: #d1e4c7;
    border: none !important;
    border-radius: 6px !important;
    color: #4a643f !important;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.3s;
  }

  .com-cal {
    background-color: #9bb093;
    border: none !important;
    border-radius: 6px !important;
    color: #4a643f !important;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.3s;
  }
  .com-cal:hover {
    background-color: #c2d2bc;
    cursor: pointer;
  }

