.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background-color: #e4e2dd;
    border-radius: 12px;
    padding: 25px 35px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.18);
    animation: fadeIn 0.25s ease-out;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .modal-header h2 {
    align-items: left;
    margin: 0;
    color: #051D01;
    font-size: 22px;
  }

  .header-left {
   text-align: left;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #051D01;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .modal-body label {
    font-size: 14px;
    color: #051D01;
    margin: 6px 0 3px;
  }
  
  .modal-body input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #b8b6b0;
    margin-bottom: 12px;
    background-color: white;
  }
  
  .modal-actions {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .save-btn,
  .delete-btn,
  .cancel-btn {
    padding: 14px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .save-btn {
    background-color: #063204;
  }
  
  .save-btn:hover {
    background-color: #2B5528;
  }
  
  .delete-btn {
    background-color: #8b1a1a;
  }
  
  .delete-btn:hover {
    background-color: #5e0d0d;
  }
  
  .cancel-btn {
    background-color: #b8b6b0;
    color: #051D01;
  }
  
  .cancel-btn:hover {
    background-color: #a3a19c;
  }

  .user {
  text-align: left;
  font-size: 15px;
  margin-top: 9px;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
  }
  